<template>
    <div >
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container" style="width: 50%;margin-left: 25%;">
              <header class="slds-modal__header">
                <!-- if:true={showModel}-->
                <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal} alternative-text="close"></lightning-button-icon>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">File Preview</h2>
              </header>
              <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" if:true={imageIncoming}>
                <p>{imageIncoming}</p>
                <iframe src={imageIncoming} ></iframe>
              </div>
              <footer class="slds-modal__footer">
                <lightning-button variant="neutral" label="Close" title="Close" onclick={closeModal}
                    class="slds-m-left_x-small"></lightning-button>
              </footer>
            </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>