<template>
    <template if:false={showSpinner}>

        <!-- Input dialog for entering Column Filter values -->
        <template if:true={isOpenFilterInput}>
            <div style="height: 40px;">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header slds-modal__header_empty">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCloseModal}>
                                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <lightning-input 
                                type={inputType}
                                formatter={inputFormat} 
                                label={inputLabel} 
                                value={columnFilterValue} 
                                onchange={handleChange}
                            >
                            </lightning-input>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" onclick={handleCloseModal}>Cancel</button>
                            <button class="slds-button slds-button_brand" onclick={handleCommit}>Save</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </template>

        <!-- DATATABLE -->
        <!-- <div style={tableHeight} class={borderClass}>
            <lightning-datatable
                data={mydata}
                columns={columns}
                key-field={keyField}
                sorted-by={sortedBy}
                sorted-direction={sortedDirection}
                max-row-selection={maxRowSelection}
                selected-rows={selectedRows}
                hide-checkbox-column={hideCheckboxColumn}
                suppress-bottom-bar={suppressBottomBar}
                onsort={updateColumnSorting}
                oncellchange={handleCellChange}
                onsave={handleSave}
                oncancel={cancelChanges}
                onheaderaction={handleHeaderAction}
                onrowselection={handleRowSelection}
                onrowaction={handleRowAction}
                onresize={handleResize}
            >
            </lightning-datatable>
        </div> -->
        <!-- <div if:true={hasCategory}> -->
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_2-of-3">
                    <div for:each={mydata} for:item="d" key={d} class="IndRecordDiv">
                        <c-individual-points-component individual-data={d} ></c-individual-points-component>
                    </div>
                </div>

                <div class="slds-col slds-size_1-of-3" style="margin-left:10%">
                    <!-- <lightning-file-upload
                        label="Attach File"
                        name="fileUploader"
                        accept={acceptedFormats}
                        record-id={RecordId}
                        onuploadfinished={saveToFile}
                        multiple>
                    </lightning-file-upload>
                    <lightning-card title="Related Files of the record" icon-name="standard:account">
                        <div style="width: auto;">
                            <template if:true={data}>
                                    <lightning-datatable
                                            data={data}
                                            columns={columns}
                                            key-field="id"
                                            onrowselection={getSelectedRecords}>
                                    </lightning-datatable>
                            </template>
                        </div>
                    </lightning-card> -->
                </div>
            </div>
        <!-- </div> -->
        <!-- <div >
            <c-points-summary-page my-data-passed-in={mydata}></c-points-summary-page>
        </div> -->

        <!-- Special parameter display for Configuration Mode -->
        <template if:true={isConfigMode}>
            <div>
                </br>
                <p><span class="slds-text-heading_medium">Click the attribute to load the clipboard with the value to be pasted into your datatableV2 parameter.</span></p>
                </br>
            </div>
            <div class="slds-m-horizontal_medium">
                <div class="slds-box slds-m-vertical_xx-small">
                    <p><span class="slds-text-heading_small">Column Fields:</span></p>
                    <lightning-pill label={columnFieldParameter} onremove={handleRemove} onclick={handleCopyFields}></lightning-pill>
                </div>
                <div class="slds-box slds-m-vertical_xx-small">
                    <p><span class="slds-text-heading_small">Column Alignments:</span></p>
                    <lightning-pill label={columnAlignmentParameter} onremove={handleRemove} onclick={handleCopyAligns}></lightning-pill>
                </div>
                <div class="slds-box slds-m-vertical_xx-small">
                    <p><span class="slds-text-heading_small">Column Edits: 
                        <lightning-button
                            label="Select All Columns" variant="brand-outline" onclick={handleSelectAllEdit} class="slds-float_right">
                        </lightning-button>
                    </span></p>
                    <lightning-pill label={columnEditParameter} onremove={handleRemove} onclick={handleCopyEdits}></lightning-pill>
                </div>
                <div class="slds-box slds-m-vertical_xx-small">
                    <p><span class="slds-text-heading_small">Column Filters: 
                        <lightning-button
                            label="Select All Columns" variant="brand-outline" onclick={handleSelectAllFilter} class="slds-float_right">
                        </lightning-button>
                    </span></p>
                    <lightning-pill label={columnFilterParameter} onremove={handleRemove} onclick={handleCopyFilters}></lightning-pill>
                </div>
                <div class="slds-box slds-m-vertical_xx-small">
                    <p><span class="slds-text-heading_small">Column Labels:</span></p>
                    <lightning-pill label={columnLabelParameter} onremove={handleRemove} onclick={handleCopyLabels}></lightning-pill>
                </div>
                <div class="slds-box slds-m-vertical_xx-small">
                    <p><span class="slds-text-heading_small">Column Widths:
                        <lightning-button
                            label={roundValueLabel} variant="brand-outline" onclick={handleRoundWidths} class="slds-float_right">
                        </lightning-button>
                    </span></p>
                    <lightning-pill label={columnWidthParameter} onremove={handleRemove} onclick={handleCopyWidths}></lightning-pill>
                </div>
                <div class="slds-box slds-box_x-small slds-theme_alert-texture slds-m-vertical_xx-small">
                    <p><span class="slds-text-heading_small">Clipboard Contents:</span></p>
                    <input disabled class="my-clipboard slds-input"/>
                </div>               
            </div>
        </template>

    </template>

    <!-- Spinner -->
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </template> 

</template>