<template>
    <div if:true={expanded} >
        <div style="width:100%; background-color:#f2f2f2; border:1px 1px black; padding-bottom: 20px;" class="expandedButton">
            <button onclick={closeSection} style="background-color:#f2f2f2;border: none;">
                <div class="minusIcon">-</div>
            </button>  
            <button onclick={closeSection} style="background-color:#f2f2f2;border: none;">
                <!-- <div if:true={categoryMap} class="categoryNameExpanded">Category Overview: <Strong>{categoryMap.pCategory}</Strong></div> -->
                <div if:true={categoryMap} class="categoryNameExpanded">{categoryMap.pCategory}</div>
                <!--  -->
                <div style="margin-top:-45px; position: absolute;right: 450px;">
                    <div if:true={categoryMap} style="color: green;">{claimedPointsLabel}: {categoryMap.pCategoryClaimedPoints}</div>
                    <div if:true={categoryMap} >{availablePointsLabel}: {categoryMap.pCategoryAvailablePoints}</div>
                    <!-- <div if:true={categoryMap} >{maxPointsLabel}: {categoryMap.pCategoryMaxPoints}</div> -->
                </div>
                <div style="margin-left:30px; text-align:left"><lightning-formatted-rich-text value={categoryMap.pCategoryDescription}></lightning-formatted-rich-text></div>
            </button>
            <div style="margin-left:5%; margin-right:5%; margin-top: 20px;; background-color:#f2f2f2" if:true={showFileUpload}>
                <c-file-upload-l-w-c incoming-record={categoryMap} sheet-list={categoryMap.pScoreSheetList} onrefreshparentdata={refreshParentData}></c-file-upload-l-w-c>
            </div>
            <div  if:false={showFileUpload}>
                <div for:each={categoryMap.pScoreSheetList} for:item="sheet" key={sheet}>
                    <!-- <c-points-summary-sheet point-sheet={sheet}></c-points-summary-sheet> -->
                    <div style="width:90%; margin-left:5%; margin-top:5px; background-color:#f2f2f2">
                        <c-individual-points-component individual-data={sheet} file-level={categoryMap.pCategoryFileLevel} onrefreshparentdata={refreshParentData}></c-individual-points-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div if:false={expanded} >
        <button onclick={expandSection} class="retractedButton">
            <div>
                <div class="plusIcon">+</div>
                <div if:true={categoryMap} class="categoryName">{categoryMap.pCategory}</div>
                
                <div style="margin-top:-40px; position: absolute;right: 450px;">
                    <div if:true={categoryMap} style="color: green;">{claimedPointsLabel}: {categoryMap.pCategoryClaimedPoints}</div>
                    <div if:true={categoryMap} >{availablePointsLabel}: {categoryMap.pCategoryAvailablePoints}</div>
                    <!-- <div if:true={categoryMap} >{maxPointsLabel}: {categoryMap.pCategoryMaxPoints}</div> -->
                </div>
                <div style="position: absolute;margin-left: 30px;" if:true={categoryMap.pCategoryDescriptionTruncated} onmouseover={showFullDescriptionHover} onmouseleave={hideFullDescriptionHover}>
                     <div if:true={showFullDescriptionPopup} class="popuptext slds-box popup" style="background-color:rgb(248, 248, 248); text-align: left"><lightning-formatted-rich-text value={categoryMap.pCategoryDescription}></lightning-formatted-rich-text></div>
                    <div if:false={showFullDescriptionPopup}><lightning-formatted-rich-text value={categoryMap.pCategoryDescriptionTruncated}></lightning-formatted-rich-text></div>
                </div>
                
            </div>
        </button>
    </div>
</template>