.expandedButton{
    width: 100%;
    margin: 10px;
    background-color:	#f2f2f2;
    border: none;
    box-shadow: 3px 3px lightgrey, -1em 0 .4em grey;
}

.retractedButton{
    width: 100%;
    height: 120px;
    margin: 10px;
    background-color:	#f2f2f2;
    border: none;
    box-shadow: 3px 3px lightgrey, -1em 0 .4em grey;
}

.categoryName{
    font-size: 25px;
    text-align: left;
    margin-left: 30px;
    text-align: left;
}

.categoryNameExpanded{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.plusIcon{
    font-size: 60px;
    position: absolute;
    right: 20px;
    margin-top:-30px;
}

.minusIcon{
    font-size: 70px;
    position: absolute;
    right: 30px;
    margin-top:-55px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(236, 235, 235);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 155%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

