<template>
    <div>
        <lightning-progress-indicator current-step={pathValue} type={indicatorStyle} variant="shaded">
            <template for:each={pathValues} for:item="pathItem">
                <lightning-progress-step label={pathItem} value={pathItem} key={pathItem} onstepfocus={handleStepSelected}></lightning-progress-step>
            </template>
        </lightning-progress-indicator>
    </div>
<!--
                        <div if:true={isInteractive} class="slds-grid slds-path__action">
                            <span class="slds-path__stage-name">Stage: Unqualified</span>
                            <button class="slds-button slds-button_brand slds-path__mark-complete" onclick={handleUpdateButtonClick}>
                                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                              </svg>Go to Selected Page</button>
                          </div>    
-->
</template>