<template >
    <div if:true={record}>
        <p style="font-size: 35px; text-align: center; font-weight: bold;">Project {record.pName} Review</p>
        <div style="margin-left:20px;     font-size: 15px">
            <p style="color:green">{claimedPointsLabel}: <strong>{record.pClaimedPoints}</strong></p>
            <p>{availablePointsLabel}: <strong>{record.pAvailablePoints}</strong></p>
            <!-- <p>{maxPointsLabel}: <strong>{record.pMaxPoints}</strong></p> -->
        </div>
        
        <div for:each={record.CatList} for:item="category" key={category}>
            <c-points-summary-category category-map={category} onrefreshparentdata={refreshParentData}></c-points-summary-category>
        </div>

    </div>
</template>