<apex:page standardController="Funding_Round__c" extensions="FundingRoundProjectShare_Controller" action="{!removeProjectShare}">    
     <apex:pageMessages />
     <apex:form >
	 	<apex:pageBlock >
		    <div style="text-align: center;">
				<apex:commandButton value="Return to Funding Round" action="{!returnToFundingRound}"/>
		    </div>
	    </apex:pageBlock>
    </apex:form>
</apex:page>