<apex:page standardController="Project_Checklist_Item_Phase__c">

    <apex:form id="frmHelpText">
        <apex:pageBlock mode="maindetail">
            <apex:pageBlockSection >
                <apex:outputField value="{!Project_Checklist_Item_Phase__c.Project_Checklist_Item__r.Funding_Round_Checklist_Item__r.External_Help_Text_RT__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>

</apex:page>