.availableButton{
    background: #173f78;
    cursor: pointer;
    width: 450px;
    height: 250px;
    border-radius: 10%;
    box-shadow: 15px -10px #4CAF50;
    margin: 20px;
    border: white;
}

.availableButton:hover{
    background: #173f78;
    cursor: pointer;
    width: 460px;
    height: 260px;
    border-radius: 10%;
    box-shadow: 15px -10px #4CAF50;
    margin: 20px;
    border: white;
}

.notAvailableButton{
    background: #173f78;
    cursor: pointer;
    width: 450px;
    height: 250px;
    border-radius: 10%;
    box-shadow: 15px -10px #4CAF50;
    margin: 20px;
    opacity:.4;
    border: white;
}

.selectedButton{
    background: #173f78;
    cursor: pointer;
    width: 450px;
    height: 250px;
    border-radius: 10%;
    box-shadow: 15px -10px #4CAF50;
    margin: 20px;
    opacity:.7;
    border: white;
}

.selectedButton:hover{
    background: #173f78;
    cursor: pointer;
    width: 460px;
    height: 260px;
    border-radius: 10%;
    box-shadow: 15px -10px #4CAF50;
    margin: 20px;
    opacity:.7;
    border: white;
}

.approvalIcon{
    margin-left: 50px;
}

.pointsToClaimText{
    font-size: 30px;
    color: White;
    opacity: 1;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
}

.pointsText{
    font-size: 50px;
    color: White;
    opacity: 1;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
}

.descriptionText{
    font-size: 15px;
    color: White;
    opacity: 1;
    text-shadow: 2px 2px 8px black;
}

.maxPointsText{
    font-size: 15px;
    color: White;
    opacity: 1;
    text-shadow: 2px 2px 8px black;
}

.toggleStyle{
    position: absolute;
    top: 40px;
    margin-left: 5%;
}

.iconSpacing{
    margin-top: 10px;
    margin-left: 25px;
    position: absolute;
}

.pointsClaimText{
    margin-top: 0px;
    margin-left: 5%;
}

.toggleStyle2{
    position: absolute;
    top: 80px;
    margin-left: 5%;
}