<template>
    <lightning-card  variant="Narrow" >
        
        <div if:true={showAvailable} style="margin-bottom:5px; ">
            <div if:true={showFileUpload}>
                <c-file-upload-l-w-c incoming-record={individualData} onpointsselected={recordSelected} onrefreshparentdata={refreshParentData}></c-file-upload-l-w-c>
            </div>
            <div if:false={showSmallerSheetList}>
                <div if:false={showFileUpload}>
                    <div class="toggleStyle" >
                        <lightning-input type="toggle" label="Claim Points" name="input2" message-toggle-active='' message-toggle-inactive='' onchange={recordSelected} value={individualData.Points_Claimed__c} checked={individualData.Points_Claimed__c}></lightning-input>
                    </div>
                    <div style="text-align:right; margin-top: -20px;">
                        <div >
                            <p class="slds-p-horizontal_small " style="font-size: 20px; text-align: center;"><Strong>{individualData.Name}</Strong></p>
                        </div>
                        <div >
                            <p class="slds-p-horizontal_small" style="font-size: 15px;">Points To Claim: {individualData.Available_Points__c}</p>
                        </div>
                    </div>
                    <div if:true={pointsSelected} style="color: green; margin-top:15px" class="pointsClaimText">
                        {pointsToggleMessage}
                    </div>
                    <div if:false={pointsSelected} class="pointsClaimText">
                        {pointsToggleMessage}
                    </div>
                    <!-- <div class="slds-align_absolute-center">
                        <p class="slds-p-horizontal_small">Max Points Available: {individualData.Max_Points__c}</p>
                    </div> -->
                    <div >
                        <p class="" style="position:absolute; bottom:2px; right:2px; width: 50%;text-align: right;">{individualData.Description__c}</p>
                    </div>
                </div>
            </div>
            <div if:true={showSmallerSheetList} class="slds-box" style="background-color: white;padding: 10px;">
                <div>
                    <div style="text-align:right;">
                        <div >
                            <p class="slds-p-horizontal_small " style="font-size: 20px; text-align: right;"><Strong>{individualData.Name}</Strong></p>
                        </div>
                        <div >
                            <p class="slds-p-horizontal_small" style="font-size: 15px;">Points To Claim: {individualData.Available_Points__c}</p>
                        </div>
                    </div>
                    <div class="" >
                        <lightning-input type="toggle" label="Claim Points" name="input2" message-toggle-active='' message-toggle-inactive='' onchange={recordSelected} value={individualData.Points_Claimed__c} checked={individualData.Points_Claimed__c}></lightning-input>
                    </div>
                    <div if:true={pointsSelected} style="color: green; margin-top:15px" class="">
                        {pointsToggleMessage}
                    </div>
                    <div if:false={pointsSelected} class="" style="margin-top:15px">
                        {pointsToggleMessage}
                    </div>
                    <!-- <div class="">
                        <p >Max Points Available: {individualData.Max_Points__c}</p>
                    </div> -->
                    <div >
                        <p class="" style="position:absolute; bottom:20px; right:20px; width: 50%;text-align: right;">{individualData.Description__c}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div if:false={showAvailable} style="opacity: 0.5">
            <div if:false={showSmallerSheetList}>
                <div>
                    <c-file-upload-l-w-c incoming-record={individualData} onpointsselected={recordSelected} onrefreshparentdata={refreshParentData}></c-file-upload-l-w-c>
                </div>
            </div>
            <div if:true={showSmallerSheetList} class="slds-box">
                <div style="text-align:right; margin-top: 0px;">
                    <div >
                        <p class="slds-p-horizontal_small " style="font-size: 20px; text-align: right;"><Strong>{individualData.Name}</Strong></p>
                    </div>
                    <div >
                        <p class="slds-p-horizontal_small" style="font-size: 15px;">Points To Claim: {individualData.Available_Points__c}</p>
                    </div>
                </div>
                <div class="" >
                    <lightning-input type="toggle" label="Claim Points" name="input2" message-toggle-active="Unavailable" message-toggle-inactive="Unavailable" disabled></lightning-input>
                    <!-- <p class="">Max Points Available: {individualData.Max_Points__c}</p> -->
                </div>
                <div >
                    <p class="" style="position:absolute; bottom:20px; right:20px; width: 50%;text-align: right;">{individualData.Description__c}</p>
                </div>
            </div>
        </div>
    </lightning-card>
</template>