<template>
    <lightning-card>
        <div class="" style="margin-top: 15px; margin-left:15px; margin-top: 0px; margin-left: 15px;" if:true={recordToLink}>
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size--1-of-2 slds-box" style="width: 46%; margin-right: 3%;">
                    <lightning-card>
                        <div if:false={sheetListToUse}>
                            <p style="font-weight: bolder; font-size:20px; text-align:right; margin-top: -20px;">{CardTitle}</p> 
                            <div class="">
                                <p class="slds-p-horizontal_small" style="font-size: 15px; text-align:right">Points To Claim: {incomingRecord.Available_Points__c}</p>
                            </div>
                            <div if:true={showClaimToggle}>
                                <div class="toggleStyle" >
                                    <div if:false={isUploadDisabled}>
                                        <lightning-input type="toggle" label="Claim Points" name="input2" message-toggle-active='' message-toggle-inactive='' onchange={recordSelected} value={incomingRecord.Points_Claimed__c} checked={incomingRecord.Points_Claimed__c}></lightning-input>
                                        <p style="color: green;margin-top: 15px;">{toggleMessage}</p>
                                    </div>
                                    <div if:true={isUploadDisabled}>
                                        <lightning-input type="toggle" label="Claim Points" name="input2" message-toggle-active="Unavailable" message-toggle-inactive="Unavailable"  disabled></lightning-input>
                                    </div>
                                     
                                </div>
                                <!-- <p style="text-align:left">Max Points: {maxPoints}</p> -->
                                <div >
                                    <p class="" style="position:absolute; bottom:2px; right:2px; width: 50%;text-align: right;">{incomingRecord.Description__c}</p>
                                </div>
                            </div>
                        </div>
                        <div if:true={sheetListToUse}>
                            <p style="font-weight: bolder; font-size:20px; text-align:center; margin-top: -25px; margin-bottom: -5px;">Points To Claim</p> 
                            <div for:each={sheetListToUse} for:item="sheet" key={sheet}>
                                <c-individual-points-component individual-data={sheet} file-level="other" onrefreshparentdata={refreshParentData}></c-individual-points-component>
                            </div>
                        </div>
                    </lightning-card>
                </div>
                <div class="slds-col slds-size--1-of-2 slds-box" >
                    <div if:true={incomingRecord.pCategoryId}>
                        <p style="font-weight: bolder; font-size:20px; text-align:center; margin-bottom: 20px;">{CardTitle}</p> 
                    </div>
                    <div if:false={incomingRecord.pCategoryId}>
                        <p style="font-weight: bolder; font-size:20px; text-align:center; margin-bottom: 20px;">{CardTitle} Question Files</p> 
                    </div>
                    <div class="slds-box">
                        <div class="slds-align_absolute-center">
                            <lightning-file-upload
                                        label={FileTitle}
                                        name="fileUploader"
                                        accept={acceptedFormats}
                                        record-id={recordToLink}
                                        onuploadfinished={saveToFile}
                                        multiple
                                        disabled={isUploadDisabled}>
                            </lightning-file-upload>
                        </div>
                        <div>
                            <template if:true={dataAvailable}>
                                <lightning-card>
                                    <div style="margin-right: 10px;">
                                        <table>
                                            <tr>
                                                <th>File Title</th>
                                                <th>Date Loaded</th>
                                                <th>Delete?</th>
                                            </tr>
                                            <template for:each={data} for:item="rec" for:index="index">
                                                <tr key={rec}>
                                                    <td style="width: 50%">
                                                        <!-- <button style="    text-align: left;
                                                            border: none;
                                                            background-color: white;
                                                            color: blue;" 
                                                            onclick={filePreview} value={rec.ContentDocumentId} >
                                                            {rec.Title}
                                                        </button> -->
                                                        <a href={rec.fileURL} target="_Blank">{rec.Title}</a>
                                                        <!-- <iframe src={rec.fileURL}></iframe> -->
                                                        <!-- <div if:true={showFiles}>
                                                            <div if:true={showThisImage}>
                                                                <c-file-preview-modal image-incoming={rec.fileURL} onclosemodal={closePreviewModal}></c-file-preview-modal>
                                                            </div>
                                                        </div> -->
                                                    </td>
                                                    <td style="width: 40%"><lightning-formatted-date-time value={rec.CreatedDate}></lightning-formatted-date-time></td>
                                                    <td style="width: 30%"><lightning-button-icon icon-name="utility:delete"  variant="bare" alternative-text="Delete"   class="slds-m-left_medium" title="Delete" value={rec} onclick={openDeleteFileModal}></lightning-button-icon></td>
                                                </tr>
                                            </template>
                                        </table>
                                    </div>
                                </lightning-card>
                            </template>
                            <template if:false={dataAvailable}></template>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        
    </lightning-card>
    <template if:true={showDeleteModal}>
        <c-delete-modal ondeletefile={deleteFile} onopenmodel={openDeleteFileModal} onclosemodal={closeDeleteFileModal} file-name={NameOfFileToDelete} file-id={IdOfFileToDelete}></c-delete-modal>
    </template>
    <template if:false={showDeleteModal}></template>
</template>